<%- include('../header') -%>

<h1>Editing <%= user.name %></h1>

<div id="user">
  <form action="?_method=put" method="post">
    <!-- Add CSRF token field for security -->
    <% try { %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <% } catch(e) { /* CSRF token not available, server-side changes needed */ } %>
    
    <p>
      Name:
      <input type="text" value="<%= user.name %>" name="user[name]" />
    </p>

    <p>
      Email:
      <input type="email" value="<%= user.email %>" name="user[email]" />
    </p>

    <p>
      <input type="submit" value="Save" />
    </p>
  </form>
</div>

<%- include('../footer') -%>